extends layout
block bannerContent
  section#banner(style="background:url('#{ultimopost.image}')")
    header						
      h2
        a(href="/#{ultimopost.permalink}")= ultimopost.title
      p
        a(href="/#{ultimopost.permalink}")= ultimopost.excerpt
block mainContent
  div.container
    div.row
      div.12u
        section
          div.row
            each post in ultimosposts    
              div.6u
                section.box.animated.fadeIn                  
                  a(href="/#{post.permalink}", style="background: url('#{post.image}') no-repeat center center / 100% auto;").image.featured                  
                  header
                    h3= post.title                    
                    p= post.excerpt
                  footer
                    ul.actions
                      li
                        a(href="/#{post.permalink}").button.icon.fa-file.text Post completo
                      //li
                      //  a(href="").button.alt.icon.fa-comment 33 comentários                  
          div.row
            div.12u
              script(type='text/javascript').
                bb_bid = "1619206";
                bb_lang = "pt-BR";
                bb_name = "custom";
                bb_limit = "8";
                bb_format = "bbb";
              script(type='text/javascript', src='http://static.boo-box.com/javascripts/embed.js')

          div.row
            div.12u
              section
                div.row
                  each post in outrosposts
                    div.4u
                      section.box.animated.fadeIn
                        a(href="/#{post.permalink}", style="background: url('#{post.image}') no-repeat center center / 100% auto;").image.featured 
                        header
                          h3= post.title                          
                        footer
                          a(href="/#{post.permalink}").buttom.alt Post Completo
          
          div.row
            div.12u
              script(type='text/javascript').
                bb_bid = "1619206";
                bb_lang = "pt-BR";
                bb_name = "custom";
                bb_limit = "8";
                bb_format = "bbb";
              script(type='text/javascript', src='http://static.boo-box.com/javascripts/embed.js')
          
          div.row
            div.12u                            
              ul.paginacao
                - var n = 1                                            
                while n < totalPages
                  li
                    if n != paginaAtual
                      a(href="/page/#{n}")= n
                    else
                      a(href="/page/#{n}", onclick="return false;").disabled= n
                    - n++
