extends layout

block mainContent
    div.container
      //sidebar
      div.row        
        div.8u.important(collapse)
          article.box.post          
            if(post.image)
              a(href="").image.featured              
                img(src=post.image, alt=post.title)              
            header
              h2=post.title
              =post.excerpt
            !=post.content
          div.row
            div.12u          
              header
                h3 Veja mais aqui
            
            each post in outrosPosts
              div.6u
                section.box.animated.fadeIn
                  a(href="/#{post.permalink}", style="background: url('#{post.image}') no-repeat center center / 100% auto;").image.featured 
                  header
                    h3= post.title                          
                  footer
                    a(href="/#{post.permalink}").buttom.alt Post Completo
              
              
        div.4u
          section.box.sidebar            
            header
              h3 Parcerias e jabas
            a.banner-anuncio(href='http://www.cuponkit.com/', data-banner-posicao="Lateral-Interno-Post", data-cliente="CuponKit", target="_blank")
              img(src='http://ad.zoidepomba.com.br/cuponkit-banner-lateral.jpg', style="width:300px")
            a.banner-anuncio(href='http://www.fudas.com.br/visitas/162/', data-banner-posicao="Lateral-Interno-Post", data-cliente="Fudas", target="_blank")
              img(src='http://www.fudas.com.br/arquivos/selos/selosFudas-e5d93d84715943b28b33a69236736857.jpg')
            a.banner-anuncio(href="http://www.vitrinepix.com.br/zoidepomba", target="_blank", data-banner-posicao="Lateral-Interno-Post", data-cliente="Zoidepomba")
              img(src="http://ad.zoidepomba.com.br/banner-novas-camisetas.gif", alt="Camisetas Zoidepomba")
            a.banner-anuncio(href="http://www.linkirado.net/", target="_blank", data-banner-posicao="Lateral-Interno-Post", data-cliente="LinkIrado")
              img(src="http://www.linkirado.net/banners/arrobabanner_parceria.jpg", alt="Linkirado")
            a.banner-anuncio(href="http://www.aglomerando.com.br/", target="_blank", data-banner-posicao="Lateral-Interno-Post", data-cliente="Aglomerando")
              img(src="http://www.aglomerando.com.br/images/250.jpg", alt="Aglomerando")
            <iframe frameborder="0" style="background:none;" width="480" height="582" src="http://www.aglomerando.com.br/widget.php?qtd=2&tamanho=200&align=vertical" scrolling="no"></iframe>
          section.box.sidebar
            header
              h3 Publicidade
            a(href="http://www.meliuz.com.br/ref_lcomino3d", target="_blank", data-banner-posicao="Lateral-Interno-Post", data-cliente="MeLiuz").banner-anuncio
              img(src="http://www.meliuz.com.br/arquivos/banners_blog/250x250.png", alt="Meliuz")            
            script(type='text/javascript').
              bb_bid = "1619206";
              bb_lang = "pt-BR";
              bb_name = "custom";
              bb_limit = "4";
              bb_format = "bbm";
            script(type='text/javascript', src='http://static.boo-box.com/javascripts/embed.js')
            

            //footer
              //a.button.alt(href='#') Magna sed taciti
